# macOS
.DS_Store

# AI
.ai
.claude
.agents

# Dev
.dev

# ComfyUI
/custom_nodes/
.comfy_environment

# IDE
/.vs
.vscode/
.idea/

# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.pyc
*.py[cod]

# Python virtual environments
venv/
.venv/
env/
python_env/

# UV
uv.lock

# Shared Models
/shared/input/
/shared/output/
/shared/models/
/shared/workflows/

# Temporary files
/.temp/
/temp/

# Cache files
/.cache/
/.cache/git/
/.cache/pip/
/.cache/triton/
/.cache/tunableop/
/.cache/wheelhouse/

# Instances
/instances/

# Environments
/environments/

# Runtimes
/runtimes/

# Launchers
/launchers/

# Logs
/logs/
*.log

# State
/.state/

# Tests
/tests/

# Workspace
/workspaces/

# Examples
/examples/

# Overlays
/overlays/

# ROCmRoll
rocmroll.ini